<div class="col-10 offset-1 about">
  <h1>About Regurgitator</h1>

  <p>
    Regurgitator was built by <a target="_blank" href="http://github.com/NehemiahAndrews">Nehemiah Andrews</a>.  Nehemiah is a systems administrator who strives to use his powers for good, making the lives of those him easier and more productive.
  </p>
  <br />
  <p>

  </p>
  <p>
    He learned how to build this nifty little site at <a target="_blank" href="http://www.thefirehoseproject.com/"> The Firehose Project</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'nehemiah.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Nehemiah Andrews</h2>
      <br />
      <p>
        Nehemiah has worked in the IT field for over 10 years, starting with the wires that make it all work as a low voltage cabler, learning fiber-optic installation and termination, picking up phone system configuration and installation, and rounding out his knowledge as a desktop and server administrator, working with Windows, Mac, and Linux systems as well as Microsoft Hyper-V and VMware virtualization platforms. 
    </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>