<h2>
  <span> REGURGITATOR / No. <%= @tip.id %></span>
  Have some advice:
</h2>

<h1><%= @tip.advice %></h1>
<h2 class="float-right"><%= @tip.author %></h2>

<br class="clear" />
<br />
<br />
<br />
